In [137]:
import tensorflow
import pandas as pd

In [138]:
data = pd.read_csv("USA_Housing.csv")
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [139]:
data ["Address"].value_counts()

Address
208 Michael Ferry Apt. 674\nLaurabury, NE 37010-5101             1
314 Christopher Square Apt. 404\nLake Ronaldville, SD 42025      1
21042 Wilson Islands Suite 238\nFischerchester, MP 42425-4129    1
Unit 8831 Box 5748\nDPO AE 73012-7314                            1
481 Kaitlin Mission Apt. 309\nJodystad, IA 16947                 1
                                                                ..
054 Carter Crescent Suite 674\nGlennport, WA 11140               1
8460 Kathleen Mission Apt. 482\nPort Amytown, KY 72016           1
3737 Hartman Rue\nReneestad, ID 69250-7718                       1
3465 Latoya Well\nNelsonmouth, MI 55741-4287                     1
37778 George Ridges Apt. 509\nEast Holly, NV 29290-3595          1
Name: count, Length: 5000, dtype: int64

In [140]:
newdf = data.drop(['Address'], axis=1)
newdf.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05

In [141]:
X = data.drop(['Price','Address'],axis = 1)
Y = data['Price']

In [142]:
X

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,79545.458574,5.682861,7.009188,4.09,23086.800503
1,79248.642455,6.002900,6.730821,3.09,40173.072174
2,61287.067179,5.865890,8.512727,5.13,36882.159400
3,63345.240046,7.188236,5.586729,3.26,34310.242831
4,59982.197226,5.040555,7.839388,4.23,26354.109472
...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035
4996,78491.275435,6.999135,6.576763,4.02,25616.115489
4997,63390.686886,7.250591,4.805081,2.13,33266.145490
4998,68001.331235,5.534388,7.130144,5.44,42625.620156
4999,65510.581804,5.992305,6.792336,4.07,46501.283803

In [143]:
Y

0       1.059034e+06
1       1.505891e+06
2       1.058988e+06
3       1.260617e+06
4       6.309435e+05
            ...
4995    1.060194e+06
4996    1.482618e+06
4997    1.030730e+06
4998    1.198657e+06
4999    1.298950e+06
Name: Price, Length: 5000, dtype: float64

In [144]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.2, random_state = 2024)

In [145]:
X_train

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
4894,68945.168706,6.249339,6.976326,4.21,30124.272359
2921,60509.838464,5.215026,7.716666,5.29,35376.733828
2348,82635.339238,6.404152,7.068896,6.48,33770.244521
3058,77620.921149,5.871168,6.678358,4.12,29115.684852
2988,90972.406127,5.401913,7.323225,3.37,24943.961939
...,...,...,...,...,...
183,48531.364229,6.863184,8.517401,5.30,39731.150563
2494,64912.515462,7.186099,6.028782,4.18,48685.420660
2688,64231.684216,4.311018,8.747409,5.32,59717.669765
2656,56851.995705,5.441992,5.853657,2.21,23915.564416
3578,59920.173686,5.400275,7.102731,5.03,62389.876385

In [146]:
Y_train

4894    1.249670e+06
2921    9.473560e+05
2348    1.480228e+06
3058    1.126042e+06
2988    1.442079e+06
            ...
183     1.356146e+06
2494    1.449033e+06
2688    1.521085e+06
2656    3.936391e+05
3578    1.505628e+06
Name: Price, Length: 4000, dtype: float64

In [147]:
data.isnull().sum()

Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
Price                           0
Address                         0
dtype: int64

In [148]:
from sklearn.preprocessing import StandardScaler

In [149]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_train_scaled

array([[ 0.04108034,  0.26059528, -0.02124112,  0.1858898 , -0.60539755],
       [-0.74887615, -0.78211033,  0.71407653,  1.0577307 , -0.06938785],
       [ 1.32314503,  0.41666348,  0.07070003,  2.01837021, -0.23332887],
       ...,
       [-0.40033067, -1.69345425,  1.73782691,  1.0819485 ,  2.41458613],
       [-1.09142784, -0.55330346, -1.1362946 , -1.42863038, -1.23899147],
       [-0.80409741, -0.59535815,  0.10430552,  0.84784307,  2.68728278]])

In [150]:
X_test_scaled = scaler.transform(X_test)
X_test_scaled

array([[ 1.75683158,  2.27644014,  0.23494409,  0.82362527,  0.92910821],
       [-1.68427303,  1.39484298,  0.15086859,  0.91242388,  0.06706535],
       [ 1.08467317,  0.03174563, -1.07192766,  0.35541442, -0.16878187],
       ...,
       [ 0.26752677,  1.30569846, -1.03011181,  0.36348702, -0.82572888],
       [-0.07327587,  1.97606634, -0.47044596,  0.2101076 ,  2.63893789],
       [-1.20010646, -1.4128025 ,  0.85067308,  0.161672  ,  0.81257048]])

In [151]:
from sklearn.model_selection import train_test_split
from tensorflow.keras.layers import Dense, Input, Dropout
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.models import Sequential

In [152]:
model = Sequential()
model.add(Input(shape = (5,)))
model.add(Dense(units = 32, activation ='relu'))
model.add(Dense(units = 64, activation ='relu'))
#model.add(Dropout(rate = 0.3))
model.add(Dense(units = 64, activation ='relu'))
model.add(Dense(units = 64, activation ='relu'))
model.add(Dense(units = 1, activation ='linear'))

In [153]:
model.summary()

Model: "sequential_9"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_38 (Dense)                │ (None, 32)             │           192 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_39 (Dense)                │ (None, 64)             │         2,112 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_40 (Dense)                │ (None, 64)             │         4,160 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_41 (Dense)                │ (None, 64)             │         4,160 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_42 (Dense)                │ (None, 1)              │            65 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 10,689 (41.75 KB)

 Trainable params: 10,689 (41.75 KB)

 Non-trainable params: 0 (0.00 B)

In [154]:
model.compile(optimizer='rmsprop', loss='mean_squared_error') #metrics =['Mean Absolute Error']) i can try other optimizers eg rms

In [155]:
#EarlyStopping ? #we want to reduce loss and increase accuracy

In [156]:
es = EarlyStopping(monitor='val_loss',min_delta= 2000000000, patience= 7,
                   verbose =1,mode = 'min', restore_best_weights = True)

In [157]:
model.fit(  x = X_train_scaled , y = Y_train,epochs = 40, batch_size=  32 , validation_split = 0.1,
          callbacks = [es])

Epoch 1/40

113/113 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 1639492485120.0000 - val_loss: 1711295037440.0000
Epoch 2/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1633268531200.0000 - val_loss: 1674865934336.0000
Epoch 3/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1569901772800.0000 - val_loss: 1529562923008.0000
Epoch 4/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1381796937728.0000 - val_loss: 1168607019008.0000
Epoch 5/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 979514163200.0000 - val_loss: 555263852544.0000
Epoch 6/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 382773854208.0000 - val_loss: 79729803264.0000
Epoch 7/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 70373990400.0000 - val_loss: 47361179648.0000
Epoch 8/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 52899786752.0000 - val_loss: 38211489792.0000
Epoch 9/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 40091447296.0000 - val_loss: 30925846528.0000
Epoch 10/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 32285571072.0000 - val_loss: 25671434240.0000
Epoch 11/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 26598993920.0000 - val_loss: 21704300544.0000
Epoch 12/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 21261574144.0000 - val_loss: 19290394624.0000
Epoch 13/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 19239456768.0000 - val_loss: 17621395456.0000
Epoch 14/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 16450753536.0000 - val_loss: 15315960832.0000
Epoch 15/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 15315450880.0000 - val_loss: 14467846144.0000
Epoch 16/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 13327479808.0000 - val_loss: 13873648640.0000
Epoch 17/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 13460012032.0000 - val_loss: 13674006528.0000
Epoch 18/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 12186095616.0000 - val_loss: 13122651136.0000
Epoch 19/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 12388247552.0000 - val_loss: 12947547136.0000
Epoch 20/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 11861028864.0000 - val_loss: 12847181824.0000
Epoch 21/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10999438336.0000 - val_loss: 12748055552.0000
Epoch 22/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10908019712.0000 - val_loss: 12804365312.0000
Epoch 23/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 11575122944.0000 - val_loss: 12539798528.0000
Epoch 24/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 11234597888.0000 - val_loss: 12496116736.0000
Epoch 25/40
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10954917888.0000 - val_loss: 12613849088.0000
Epoch 25: early stopping
Restoring model weights from the end of the best epoch: 18.

In [158]:
model.evaluate(X_test_scaled, Y_test)

32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 632us/step - loss: 12646216704.0000

11935693824.0

In [159]:

predictions = model.predict(X_test_scaled)

32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step

In [160]:
from sklearn.metrics import r2_score

In [161]:
r2_score(Y_test,predictions)

0.9046414705404151